[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
async-timeout = "*"
asyncio = "*"
attrs = "*"
CacheControl = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
click = "*"
firebase-admin = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-cloud-core = "*"
google-cloud-firestore = "*"
google-cloud-storage = "*"
google-crc32c = "*"
google-resumable-media = "*"
googleapis-common-protos = "*"
grpcio = "*"
httplib2 = "*"
Flask = "*"
Flask-Cors = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
msgpack = "*"
multidict = "*"
protobuf = "*"
python-dotenv = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pytz = "*"
requests = "*"
rsa = "*"
six = "*"
stripe = "*"
uritemplate = "*"
urllib3 = "*"
Werkzeug = "*"
yarl = "*"
aiohttp = "*"

[requires]
python_version = "3.8"
